<h1> Create New Post </h1>

<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <label for="title">Title</label>
  <input type="text" name="post[title]" id="title" value="<%=@post.title%>">
  <br>
  <label for="url">URL</label>
  <input type="text" name="post[url]" id="title" value="<%=@post.url%>">
  <br>
  <label for="content">Content</label>
  <input type="textarea" name="post[content]" id="content" rows="10" columns="40">
  <br>
    <label>Subreddit to post to:</label>
    <% Sub.all.each do |sub| %>
    <label><%= sub.title %>
      <input type="checkbox" name="post[sub_ids][]" <%= "checked" if @post.sub_ids.include?(sub.id) %> value="<%= sub.id %>" >
    </label>
    <% end %>

 <button>Create Post</button>
</form>
