<h3><%= @post.title %></h3>

<a href="<%= @post.url %>"></a>
<br>

<%= @post.content %>
<% @post.comments.each do |comment| %>
<%  %>
<% end %>

<br>
<br>

<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >

  <label for="comment">Comment</label>
  <br>
  <input type="textarea" name="comment[content]" id="comment" rows="10" columns="40">

  <br>

  <button>Post Comment</button>
</form>
